/* 搜索页面 */

#search-panel {
  background: #fff;

  .search-wrapper {
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #565454;

  }

  .hot { //热门搜索
    margin: 15px;
    h3 {
      font-weight: normal;
      font-size: 16px;
      color: #545353;

    }
    a.hotkey {
      display: inline-block;
      margin: 10px 15px 0 0;
      text-decoration: none;
      color: #000;
      border: 1px solid;
      padding: 5px 10px;
      border-radius: 45px;
      word-break: keep-all;
      font-size: 14px;
    }
    .hotkey:first-child {
      color: #fc4524;
    }

  }

}

.search-wrapper > .search-box { //  搜索框
  flex: 1;
  height: 36px;
  background: #fff;
  border-radius: 3px;

  .search-icon { //  搜索图标
    background: url("../images/search.png") no-repeat;
    width: 20px;
    height: 20px;
    margin: 8px;
    background-size: cover;
    float: left;

  }

  .search-input { //  搜索的输入框
    outline: none;
    float: left;
    font-size: 14px;
    line-height: 36px;
    border: none;
  }

  .delete-icon.active { // 删除框  ,默认不显示，只有当Input里有内容才出现 ，这一部分也可以用icon 或者背景图片做
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b1b1b1;
    margin: 8px 12px;
    color: #fff;
    font-size: 16px;
    position: relative;
    transform: rotate(45deg);

    &::before {
      content: '';
      display: block;
      height: 12px;
      border-right: 2px solid #fff;
      position: absolute;
      left: 9px;
      top: 4px;
    }

    &::after {
      content: '';
      display: block;
      border-top: 2px solid #fff;
      width: 12px;
      position: absolute;
      top: 9px;
      left: 4px;
    }
  }
}

.search-wrapper > .cancel-btn { //  取消 , 默认不出现，input 获得焦点出现， 出现后点击它它才会消失
  margin: auto 10px;
  display: none;
}

#search-panel .results-wrapper .result-item { // li item
  position: relative;
  height: 55px;
  padding-left: 58px;
  z-index: 1;



  &::after { // 分割线
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: #d6d4d4;
    top: 0;
    left: 0;
    right: 0;
  }

  .song { //a
    text-decoration: none;
    color: #000;

    .search_icon {
      position: absolute;
      top: 16px;
      left: 16px;
      display: inline-block;
      width: 25px;
      height: 23px;
      background: url("../images/music.png") no-repeat;
      background-size: cover;

    }

    h3 {
      font-weight: normal;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 0 2px;
    }
    p {
      font-size: 12px;
      color: #807e7e;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

#search-panel .search-status {
  margin: 10px;
  font-size: 12px;
  color: #7e7e7e;
  text-align: center;
  display: none;

  .loading {
    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("../images/icon_loading.png");
      background-size: cover;
    }
    p {
      margin: 10px;
    }
  }

  .nomore {
  }
}

