@import "reset";
@import "header";
@import "tab";
@import "_rec.scss";
//  也可以简写成 @import "rec"
@import "slider";
@import "ranking";
@import "search";
@import "player";

body {
  margin: 0 auto;
  background: #fff;
//   overflow: hidden; 导致没有滚动条
}
body.active{
  background: #f4f4f4;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


