@charset "UTF-8";
/* 样式重置*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

/* 头部 */
/* flex  写法 */
.mod_header {
  background: #31c27c;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mod_header .music-logo {
    width: 94px;
    height: 26px;
    margin-left: 9px;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: cover; }
  .mod_header .show-player {
    color: #fff;
    font-size: 14px;
    background: #149c5a;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 28px;
    margin-right: 9px; }

/* 不用 flex 的写法
.mod_header {
  background: #31c27c;
  height: 44px;
  border: 1px solid  #31c27c;  // 阻止外边距合并导致的上方背景色空白

  .music-logo {
    display: block;
    background:  url(../images/logo.png) no-repeat ;
    background-size: cover;
    width: 94px;
    height: 26px;
    margin: 9px ;
  }
 }
*/
/* 导航栏 */
.tab-lists {
  display: flex;
  justify-content: space-around;
  height: 44px;
  background: #fff; }
  .tab-lists .tab-item {
    position: relative;
    flex: 1;
    text-align: center;
    line-height: 44px; }
    .tab-lists .tab-item.active {
      color: #31c27c; }
    .tab-lists .tab-item.active::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      background: #31c27c; }

.panels > .hide {
  display: none; }

/* 推荐页面的样式 */
#recommend-panel {
  background: #f4f4f4; }

/* 电台列表和热门歌曲列表公用的样式  */
.playlist {
  margin: 0 7px; }
  .playlist .title {
    font-weight: normal;
    font-size: 16px;
    color: #000;
    margin: 11px 0; }
  .playlist .list-ct {
    margin-right: -8px; }

.list-ct > li {
  float: left;
  width: 50%;
  padding-right: 8px;
  margin-bottom: 10px; }
  .list-ct > li a {
    display: block;
    text-decoration: none;
    position: relative;
    color: #000; }
  .list-ct > li .list-intro {
    padding: 5px 7px;
    background: #fff;
    height: 46px; }
    .list-ct > li .list-intro h4 {
      font-size: 14px;
      font-weight: normal;
      line-height: 18px; }

.list-ct > li > a::before {
  /*防止懒加载时，图片还没获取到时容器塌陷*/
  content: '';
  display: block;
  padding-top: 100%;
  /*  让宽高自适应为相等 */
  background: #dcdbdb; }
.list-ct > li > a img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  vertical-align: top;
  /* 可以消除图片下面的空隙  */ }
.list-ct > li > a .play {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  background: url("../images/icon_play.png") no-repeat;
  background-size: cover; }

/* 热门歌单单独样式*/
#songlist-wrapper .listeners {
  position: absolute;
  bottom: 8px;
  left: 6px;
  font-size: 12px;
  color: #fff;
  line-height: 12px; }
  #songlist-wrapper .listeners .listen {
    z-index: 10;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url("../images/icon_play.png") no-repeat;
    background-size: 24px;
    background-position-x: 0;
    background-position-y: -50px; }

#songlist-wrapper .list-intro .intro-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
#songlist-wrapper .list-intro .author {
  font-size: 12px;
  padding-top: 3px; }

#recommend-panel .list-more {
  text-align: center;
  font-size: 14px;
  color: #615f5f;
  padding: 15px 0; }

.rec-footer {
  text-align: center; }
  .rec-footer .tab-PC {
    text-decoration: none;
    color: black;
    padding-top: 5px; }
  .rec-footer .footer-logo {
    width: 84px;
    height: 24px;
    margin: 10px auto;
    background: url("../images/logo_footer.png") no-repeat;
    background-size: cover; }
  .rec-footer .copyright {
    color: #7b7979;
    font-size: 12px; }

/*首页轮播图样式 */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .slider .slider-group {
    display: flex;
    transition: all 0.4s;
    overflow: hidden; }

.slider > .slider-group > .slider-item {
  width: 100%; }
  .slider > .slider-group > .slider-item img {
    width: 100%; }

.slider > .bullets {
  position: absolute;
  text-align: center;
  bottom: 8px;
  width: 100%; }
  .slider > .bullets .bullet-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #adaaaa;
    margin: 3px; }
  .slider > .bullets .bullet-item.active {
    background: #fff; }

/* 排行榜 */
#ranking-wrapper .ranking-item {
  margin: 10px;
  background: #fff;
  position: relative;
  overflow: hidden; }
  #ranking-wrapper .ranking-item .ranking-cover {
    float: left;
    width: 100px;
    height: 100px;
    text-decoration: none;
    position: relative; }
  #ranking-wrapper .ranking-item .ranking-details {
    margin-left: 100px; }

#ranking-wrapper .ranking-cover img {
  height: 100%;
  vertical-align: top; }
#ranking-wrapper .ranking-cover .listeners {
  position: absolute;
  left: 6px;
  bottom: 8px;
  font-size: 12px;
  color: #ddd;
  height: 12px;
  line-height: 12px; }
  #ranking-wrapper .ranking-cover .listeners .listen {
    float: left;
    width: 12px;
    height: 12px;
    background: url("../images/icon_play.png") no-repeat;
    background-size: 24px;
    background-position-x: 0;
    background-position-y: -49px;
    margin-right: 5px; }

#ranking-wrapper .ranking-list {
  padding: 6px 18px 6px 16px; }
  #ranking-wrapper .ranking-list .intro-title {
    font-weight: normal;
    margin-bottom: 6px; }
  #ranking-wrapper .ranking-list p {
    font-size: 14px;
    color: #969393;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    #ranking-wrapper .ranking-list p .songname {
      color: #000;
      margin-left: 8px; }

#ranking-wrapper .ranking-details::after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: 1px solid #969393;
  border-right: 1px solid #969393;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -3px;
  transform: rotate(45deg); }

#ranking-panel > p {
  text-align: center;
  margin: 20px auto;
  color: #7e7e7e;
  font-size: 14px; }

/* 搜索页面 */
#search-panel {
  background: #fff; }
  #search-panel .search-wrapper {
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #565454; }
  #search-panel .hot {
    margin: 15px; }
    #search-panel .hot h3 {
      font-weight: normal;
      font-size: 16px;
      color: #545353; }
    #search-panel .hot a.hotkey {
      display: inline-block;
      margin: 10px 15px 0 0;
      text-decoration: none;
      color: #000;
      border: 1px solid;
      padding: 5px 10px;
      border-radius: 45px;
      word-break: keep-all;
      font-size: 14px; }
    #search-panel .hot .hotkey:first-child {
      color: #fc4524; }

.search-wrapper > .search-box {
  flex: 1;
  height: 36px;
  background: #fff;
  border-radius: 3px; }
  .search-wrapper > .search-box .search-icon {
    background: url("../images/search.png") no-repeat;
    width: 20px;
    height: 20px;
    margin: 8px;
    background-size: cover;
    float: left; }
  .search-wrapper > .search-box .search-input {
    outline: none;
    float: left;
    font-size: 14px;
    line-height: 36px;
    border: none; }
  .search-wrapper > .search-box .delete-icon.active {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b1b1b1;
    margin: 8px 12px;
    color: #fff;
    font-size: 16px;
    position: relative;
    transform: rotate(45deg); }
    .search-wrapper > .search-box .delete-icon.active::before {
      content: '';
      display: block;
      height: 12px;
      border-right: 2px solid #fff;
      position: absolute;
      left: 9px;
      top: 4px; }
    .search-wrapper > .search-box .delete-icon.active::after {
      content: '';
      display: block;
      border-top: 2px solid #fff;
      width: 12px;
      position: absolute;
      top: 9px;
      left: 4px; }

.search-wrapper > .cancel-btn {
  margin: auto 10px;
  display: none; }

#search-panel .results-wrapper .result-item {
  position: relative;
  height: 55px;
  padding-left: 58px; }
  #search-panel .results-wrapper .result-item::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: #d6d4d4;
    top: 0;
    left: 0;
    right: 0; }
  #search-panel .results-wrapper .result-item .song {
    text-decoration: none;
    color: #000; }
    #search-panel .results-wrapper .result-item .song .search_icon {
      position: absolute;
      top: 16px;
      left: 16px;
      display: inline-block;
      width: 25px;
      height: 23px;
      background: url("../images/music.png") no-repeat;
      background-size: cover; }
    #search-panel .results-wrapper .result-item .song h3 {
      font-weight: normal;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 0 2px; }
    #search-panel .results-wrapper .result-item .song p {
      font-size: 12px;
      color: #807e7e;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

#search-panel .search-status {
  margin: 10px;
  font-size: 12px;
  color: #7e7e7e;
  text-align: center;
  display: none; }
  #search-panel .search-status .loading i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icon_loading.png");
    background-size: cover; }
  #search-panel .search-status .loading p {
    margin: 10px; }

/* 播放器样式 */
#player {
  transform: translateX(-100%);
  transition: all .3s;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6); }
  #player .player-wrapper {
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #player .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    filter: blur(16px);
    /* 毛玻璃效果 */
    transform: scale(1.2);
    z-index: 1; }

/* 播放器头部 */
#player .player-wrapper .player-header {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #ece9e9;
  background: rgba(0, 0, 0, 0.2); }
  #player .player-wrapper .player-header .back {
    background: url("../images/back.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px; }
  #player .player-wrapper .player-header .play-info {
    /* 歌曲名和歌手 */
    max-width: calc(100% - 133px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px; }
    #player .player-wrapper .player-header .play-info .play-songname {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
      font-size: 18px; }
    #player .player-wrapper .player-header .play-info .play-singer {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  #player .player-wrapper .player-header .downloadAPP {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #bbb;
    border-radius: 25px;
    white-space: nowrap;
    padding: 5px 8px;
    width: 78px; }

/* 歌词部分 */
#player .player-wrapper .lyrics-wrapper {
  max-height: calc(100% - 195px);
  overflow: hidden;
  margin: 20px 15px 10px; }
  #player .player-wrapper .lyrics-wrapper .lyrics {
    transition: all .5s; }
    #player .player-wrapper .lyrics-wrapper .lyrics p {
      color: #d8d4d4;
      font-size: 14px;
      text-align: center;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #player .player-wrapper .lyrics-wrapper .lyrics p.active {
      color: #31c27c; }

/* 播放器底部 */
#player .player-wrapper .player-footer {
  align-self: flex-end;
  width: 100%;
  bottom: 0;
  padding: 10px;
  /*
  .download {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    margin: 5px 70px;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    background: #31c27c;
  }
  */ }
  #player .player-wrapper .player-footer .progress {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    color: #e6e6e6; }
    #player .player-wrapper .player-footer .progress .progress-elapsed {
      margin-right: 10px; }
    #player .player-wrapper .player-footer .progress .progress-bar {
      flex: 1;
      overflow: hidden;
      height: 2px;
      background: #e6e6e6; }
      #player .player-wrapper .player-footer .progress .progress-bar .now {
        background: #31c27c;
        width: 100%;
        height: 2px;
        transform: translateX(-100%); }
    #player .player-wrapper .player-footer .progress .progress-duration {
      margin-left: 10px; }
  #player .player-wrapper .player-footer .icons {
    /* 播放器按钮*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px; }
    #player .player-wrapper .player-footer .icons .prev-btn {
      background: url("../images/change_sprites.png") no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      opacity: .8; }
    #player .player-wrapper .player-footer .icons .play-btn {
      background: url("../images/play_sprites.png") no-repeat -38px;
      background-size: cover;
      width: 40px;
      height: 40px;
      opacity: .9; }
    #player .player-wrapper .player-footer .icons .pause-btn {
      background: url("../images/play_sprites.png") no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      opacity: .9; }
    #player .player-wrapper .player-footer .icons .next-btn {
      background: url("../images/change_sprites.png") no-repeat -38px;
      background-size: cover;
      width: 40px;
      height: 40px;
      opacity: .8; }

body {
  margin: 0 auto;
  background: #f4f4f4; }

body.active {
  background: #fff; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=app.css.map */
